* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
    background-color: var(--body-color);
}

html {
    scroll-behavior: smooth;
}

/* comp */

.cont {
    display: flex;
    width: 1120px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

:root {
    --header-height: 3.5rem;
    --first-color: hsl(15, 60%, 52%);
    --first-color-alt: hsl(15, 68%, 40%);
    --first-gradient: linear-gradient(90deg, hsl(15, 68%, 42%) 0%, hsl(20, 68%, 80%) 100%);
    --second-gradient: linear-gradient(90deg, hsl(20, 72%, 57%) 0%, hsl(20, 78%, 80%) 100%);
    --third-gradient: linear-gradient(90deg, hsl(15, 70%, 40%) 0%, hsl(20, 62%, 60%) 100%);
    --title-color: hsl(0, 0%, 12%);
    --text-color: hsl(0, 0%, 50%);
    --white-color: #fff;
    --body-color: hsl(0, 0%, 96%);
    --container-color: hsl(0, 0%, 100%);
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --bigger-font-size: 2.25rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1152px) {
    :root {
        --bigger-font-size: 4rem;
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-big-font-size: 1.125rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
    .content ul h3 {
        font-size: 2.75rem;
    }
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

li {
    list-style: none;
}

:where(.Popular,.Choose) :where(.title,.content) :where(h2) {
    font-size: var(--big-font-size);
    margin-bottom: 24px;
} 

:where(.Popular,.Choose) :where(.title,.content) p {
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.box-shadow {
    position: absolute;
    bottom: -2rem;
    width: 425px;
    height: 60px;
    background-color: black;
    background: hsla(15, 60%, 52%, 0.6);
    z-index: -10;
    filter: blur(28px);
}


/* start header */
header {
    height: 80px;
    background-color: rgb(8%, 8%, 8%);
    font-size: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

nav {
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1000;
}

nav.cont {
    flex-direction: row;
    justify-content: space-between;
}

.logo a {
    color: white;
    font-weight: var(--font-medium);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.logo span {
    background-image: var(--first-gradient);
    background-clip: text;
    color: transparent;
}

.Links {
    width: 80%;;
    display: flex;
    justify-content: end;
}

.Links a:hover {
    background-image: var(--first-gradient);
    background-clip: text;
    color: transparent;
}

nav ul  {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

nav ul a{
    text-decoration: none;
    color: var(--text-color);
}

.Mode {
    color: var(--text-color);
    cursor: pointer;
}
/* end header */
/* start Home */

.Home {
    position: relative;
    z-index: -1;
    padding: 0px 0px 50px 0px;
    margin-bottom: 20px;
}

.Home::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 95%;
    background-color: rgb(8%, 8%, 8%);
    transform: skewY(4deg) translateY(-8px);
}

.Home .cont {
    display: grid;
    grid-template-columns: 530px 465px;
    padding-top: 3.5em;
    gap: 7.5rem;
    justify-content: center;
    align-items: flex-end;
}
:where(.Home,.Choose) :where(.cont,.product) .image{
    background: var(--first-gradient) padding-box, 
    linear-gradient(90deg, hsl(15, 68%, 50%) 0%, hsl(20, 68%, 80%) 100%) border-box;;
    height: 670px;
    width: 530px;
    border-radius: 20em 20em 0 0;
    border: 10px solid transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;    
}
:where(.Home,.Choose) :where(.cont,.product) img {
    max-width:100%;
    height: 390px;
    margin: auto;
    margin: 0;
    transform: translateY(-10px);
}
:where(.Home,.Choose) :where(.image) h1 {
    font-size: 7em;
    letter-spacing: 6px;
    color: hsla(0, 0%, 100%, 0.3);
    font-weight: var(--font-medium);
    margin: 0;
    font-family: var(--second-font);
}


.Home .content {
    display: flex;
    flex-flow: column;
    height: auto;
    row-gap: 4.5rem;
    padding-bottom: 5rem;
}

.Home .content .title-h3 {
    margin:0px 0px 0.75em;
    background: var(--third-gradient);
    font-size: var(--h3-font-size);
    background-clip: text;
    color: transparent;
}

.Home .content h1 {
    font-size: var(--bigger-font-size);
    margin: 0px 0px 2.5rem;
    color: white;
    font-weight: var(--font-medium);
}

.buttons {
    display:flex;
    column-gap: 2.5rem;
}
.buttons .button{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: var(--third-gradient);
    color: var(--white-color);
    border-radius: 4rem;
    padding: 0.75rem 1.8rem;
}

.button-watch {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.button-watch i {
    font-size: 2rem;
}

.content ul {
    display: flex;
    gap: 4rem;
}

.content ul h3 {
    color: var(--white-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    font-family: var(--second-font);
    margin-bottom: 0.5rem;
}

.content ul span {
    background: var(--third-gradient);
    background-clip: text;
    color: transparent;
}

.content ul p {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    line-height: 1.6;
}

/* end Home */
/* start Popular */
.Popular {
    display: flex;
    flex-flow: column;
    padding: 112px 0px 32px ;
    background-color: inherit;
    z-index: -5;
}

.Popular .cont {
    overflow: hidden;
}

.Popular .title {
    align-self: flex-start;
}

.Popular .product{
    padding-block: 4rem 8rem;
    margin: 0px 28px;
    width: 1064px;
} 

.Popular .product-list {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 50px;
    row-gap: 20px;
    width: 100vw;
}

.Popular .product-list .item {
    width: 230px;
    height: 410px;
    background-color: var(--container-color);
    border-radius: 9em 9em 0 0;
    padding: 1rem 1rem 1.5rem;
    margin-inline: 1rem;
}

.Popular div.image {
    height: 240px;
    margin-bottom: 1rem;
    border-radius: 8em 8em 0 0;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
}

.Popular .product-list img {
    width: 150px;
    height: 210px;
}

.Popular .item h3 {
    margin-bottom: 4px;
} 

.Popular .item p {
    margin-bottom: 24px;
}

.Popular .item .prace {
    display: flex;
    justify-content: space-between;
    font-family: var(--second-font);
    font-size: var(--h1-font-size);
    align-items: center;
}

.Popular .prace span {
    color: var(--first-color-alt);
}

.Popular .item button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer ;
    border: none;
    color: white;
    background: var(--third-gradient);
    font-family: 'remixicon' !important;
    border-radius: 0.75rem;     
    box-shadow: rgba(137, 54, 26, 0.4) 0px 2px 8px;
    padding: 0.25rem;
    width: 36px;
    height: 39px;
    font-weight: normal;
    font-size: 1.4rem;
}


.Popular .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Popular .switch .to-left,
.Popular .switch .to-right{
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: white; 
    box-shadow: 5px 5px 10px gray;
}

.Popular .switch .to-left i,
.Popular .switch .to-right i{
    background: var(--third-gradient);
    background-clip: text;
    color: transparent;
}


.Popular .switch li {
    list-style: none;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
}

/* end Popular */
/* start Choose */

.Choose .cont {
    width: 1120px;
}


.Choose .product {
    display: grid;
    grid-template-columns: 500px 455px;
    column-gap: 7rem;
    padding: 112px 0px 32px 0px;
    z-index: -1;
}


.Choose .product-2 {
    display: flex;
    flex-direction: row-reverse;
}

.Choose div.image {
    width: 500px;
    z-index: -5;
    position: relative;
}

.Choose  h1{
    font-size: 3.5rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    bottom: 60px;
    left: 10px;
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

.Choose .product-2 h1 {
    font-size: 7rem;
    transform: rotate(0deg);
    z-index: -1;
    right: 10px;
}

.Choose .product img {
    position: relative;
    /* background-color: teal; */
} 

.Choose .img1{
    width: 350px;
    height: 510px;
}

.Choose .img2 {
    width: 420px;
    height: 510px;
}

.Choose .product-1 .content {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: flex-end;
}

.Choose .product-1 ul {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    margin-bottom: 32px;
}

.Choose .product-1 li {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-size: var(--h2-font-size);
    font-weight: 500;
    cursor: pointer;
}

.Choose .product-1 span {
    background:var(--third-gradient) ;
    padding: .30rem;
    color: white;
    border-radius: 0.75rem;
}







/* end Choose */