* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
}



/* comp */

.cont {
    width: 1152px;
}

:root {
    --header-height: 3.5rem;
    --first-color: hsl(15, 60%, 52%);
    --first-color-alt: hsl(15, 68%, 40%);
    --first-gradient: linear-gradient(90deg, hsl(15, 68%, 42%) 0%, hsl(20, 68%, 80%) 100%);
    --second-gradient: linear-gradient(90deg, hsl(20, 72%, 57%) 0%, hsl(20, 78%, 80%) 100%);
    --third-gradient: linear-gradient(90deg, hsl(15, 70%, 40%) 0%, hsl(20, 62%, 60%) 100%);
    --title-color: hsl(0, 0%, 12%);
    --text-color: hsl(0, 0%, 50%);
    --white-color: #fff;
    --body-color: hsl(0, 0%, 96%);
    --container-color: hsl(0, 0%, 100%);
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --bigger-font-size: 2.25rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1152px) {
    :root {
        --bigger-font-size: 4rem;
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-big-font-size: 1.125rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
    .content ul h3 {
        font-size: 2.75rem;
    }
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* start header */
header {
    height: 80px;
    background-color: rgb(8%, 8%, 8%);
    font-size: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo a {
    color: white;
    font-weight: var(--font-medium);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.logo span {
    background-image: var(--first-gradient);
    background-clip: text;
    color: transparent;
}

.Links {
    width: 80%;;
    display: flex;
    justify-content: end;
}

.Links a:hover {
    background-image: var(--first-gradient);
    background-clip: text;
    color: transparent;
}

nav ul  {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

nav ul a{
    text-decoration: none;
    color: var(--text-color);
}

.Mode {
    color: var(--text-color);
    cursor: pointer;
}
/* end header */
/* start Home */

.Home {
    position: relative;
    z-index: -1;
}

.Home::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: rgb(8%, 8%, 8%);
    transform: skewY(5deg);
}

.Home .cont {
    display: grid;
    grid-template-columns: 530px 465px;
    padding-top: 3.5em;
    gap: 7.5rem;
    justify-content: center;
    align-items: flex-end;
}
.Home .cont .image{
    background: var(--first-gradient) padding-box, 
    linear-gradient(90deg, hsl(15, 68%, 50%) 0%, hsl(20, 68%, 80%) 100%) border-box;;
    height: 670px;
    width: 530px;
    border-radius: 20em 20em 0 0;
    border: 10px solid transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */

}
.Home .cont img {
    max-width:100%;
    height: 390px;
    margin: auto;
    margin: 0;
    transform: translateY(-7px);
}
.Home :where(.image) h1 {
    font-size: 7em;
    letter-spacing: 10px;
    color: hsla(0, 0%, 100%, 0.3);
    font-weight: var(--font-medium);
    margin: 0;
}



.Home .content {
    /* height: 545px; */
    display: flex;
    flex-flow: column;
    height: auto;
    row-gap: 4.5rem;
    padding-bottom: 5rem;
}

.Home .content .title-h3 {
    margin:0px 0px 0.75em;
    background: var(--third-gradient);
    font-size: var(--h3-font-size);
    background-clip: text;
    color: transparent;
}

.Home .content h1 {
    font-size: var(--bigger-font-size);
    margin: 0px 0px 2.5rem;
    color: white;
    font-weight: var(--font-medium);
}

.buttons {
    display:flex;
    column-gap: 2.5rem;
}
.buttons .button{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: var(--third-gradient);
    color: var(--white-color);
    border-radius: 4rem;
    padding: 0.75rem 1.8rem;
}

.button-watch {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.button-watch i {
    font-size: 2rem;
}

.content ul {
    display: flex;
    gap: 4rem;
}

.content ul h3 {
    color: var(--white-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    font-family: var(--second-font);
    margin-bottom: 0.5rem;
}

.content ul span {
    background: var(--third-gradient);
    background-clip: text;
    color: transparent;
}

.content ul p {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    line-height: 1.6;
}

/* end Home */